#Autosave files
*~
*.blend1
*.blend2
*.blend1.meta
*.blend2.meta
Temp
Library
*.DS_Store
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
sysinfo.txt
LICENSE.meta
README.md.meta